<div class="zest-ov-main"> 
    <div class="zest-row">
        <div class="zest-large-12 zest-columns">
            <div class="zest-row zest-collapse">
                <div class="zest-congrats-user">
                    <h1>
                        Pay Rs.820/- now and convert your purchase into EMIs as low as Rs.775/-
                    </h1>
                </div>
            </div>
            <div class="zest-emi-table">
                <table class="zest-emi" cellspacing="0">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <span data-bind="text: GetPricingQuote()"></span>
            <div class="zest-list-item">
                <p class="zest-list-title">
                    <span class="p-title">Two steps to confirm your order :</span>
                </p>
                <ol style="list-style:none">
                    <li> 
                        <img data-bind="attr: {src: getdesktop()}" class="title_img" /> 
                        Provide your personal  details to get 
                        <span class="zest-bold">instant approval</span>
                    </li>
                    <li> 
                        <img  data-bind="attr: {src: getmobile()}" class="title_img"  />
                        Make up front payment &amp; verify your documents to 
                        <span class="zest-bold">confirm your final order</span>
                    </li>
                </ol>
                <p class="zest-note">* Keep your ID and income documents ready for a speedy order confirmation.<br/>
                    * Up front payment can be using net banking or debit/credit card and is fully refundable.  <a data-bind="attr: {href: getfaqurl()}" target="_blank" class="zest-pull-right">FAQ?</a>
                </p>
            </div>
        </div>
    </div>
</div>
